// Calculator.rc - resource script
#include "resource.h"
#include "afxres.h"

IDI_ICON1 ICON "res\\icon.ico"

IDD_CALCULATOR_DIALOG DIALOGEX 0, 0, 260, 320
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Calculator"
FONT 9, "微软雅黑"
BEGIN
    EDITTEXT        IDC_EDIT_DISPLAY,10,10,240,30,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "7",IDC_BTN_7,10,50,40,30
    PUSHBUTTON      "8",IDC_BTN_8,55,50,40,30
    PUSHBUTTON      "9",IDC_BTN_9,100,50,40,30
    PUSHBUTTON      "/",IDC_BTN_DIV,145,50,40,30
    PUSHBUTTON      "sin",IDC_BTN_SIN,190,50,50,30

    PUSHBUTTON      "4",IDC_BTN_4,10,85,40,30
    PUSHBUTTON      "5",IDC_BTN_5,55,85,40,30
    PUSHBUTTON      "6",IDC_BTN_6,100,85,40,30
    PUSHBUTTON      "*",IDC_BTN_MUL,145,85,40,30
    PUSHBUTTON      "cos",IDC_BTN_COS,190,85,50,30

    PUSHBUTTON      "1",IDC_BTN_1,10,120,40,30
    PUSHBUTTON      "2",IDC_BTN_2,55,120,40,30
    PUSHBUTTON      "3",IDC_BTN_3,100,120,40,30
    PUSHBUTTON      "-",IDC_BTN_SUB,145,120,40,30
    PUSHBUTTON      "tan",IDC_BTN_TAN,190,120,50,30

    PUSHBUTTON      "0",IDC_BTN_0,10,155,85,30
    PUSHBUTTON      ".",IDC_BTN_DOT,100,155,40,30
    PUSHBUTTON      "+",IDC_BTN_ADD,145,155,40,30
    PUSHBUTTON      "=",IDC_BTN_EQ,190,155,50,75

    PUSHBUTTON      "(",IDC_BTN_LPAREN,10,190,40,30
    PUSHBUTTON      ")",IDC_BTN_RPAREN,55,190,40,30
    PUSHBUTTON      "C",IDC_BTN_CLEAR,100,190,40,30
    PUSHBUTTON      "BS",IDC_BTN_BS,145,190,40,30
END
